<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.islizx.mapper.RegisterMapper">
    <resultMap id="BaseResultMap" type="com.islizx.entity.Register" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="TINYINT" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
    id, code, state, user_id
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from t_register
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_register
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.islizx.entity.Register" >
    insert into t_register (id, code, state,
      user_id)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT},
      #{userId,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.islizx.entity.Register" >
        insert into t_register
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="code != null" >
                code,
            </if>
            <if test="state != null" >
                state,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="code != null" >
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="state != null" >
                #{state,jdbcType=TINYINT},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.islizx.entity.Register" >
        update t_register
        <set >
            <if test="code != null" >
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="state != null" >
                state = #{state,jdbcType=TINYINT},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.islizx.entity.Register" >
    update t_register
    set code = #{code,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="getRegisterByCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_register
        where code = #{code}
    </select>

    <select id="getRegisterByUserId" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from t_register
        where user_id = #{userId}
    </select>
</mapper>